﻿
@{
    ViewBag.Title = "UnAssign Course";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
<style>
    .example-modal .modal {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        left: auto;
        display: block;
        z-index: 1;
    }

    .example-modal .modal {
        background: transparent !important;
    }
</style>
<div class="content-wrapper">
    <section class="content">
        <div class="example-modal">
            <div class="modal modal-info">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Unassign Courses</h4>
                        </div>
                        <div class="modal-body">
                            <p>You Want To Uaassign All Course?</p>
                            @if (ViewBag.Message != null)
                            {
                                <p>@ViewBag.Message</p>
                            }
                        </div>
                        <div class="modal-footer">
                            <form method="POST">
                                <input type="submit" class="btn btn-outline pull-left" data-dismiss="modal" value="Unassign Courses" data-confirm="Are you sure to UnAssign All Courses?" />
                            </form>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>      
    </section>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            jQuery('[data-confirm]').click(function (e) {
                if (!confirm(jQuery(this).attr("data-confirm"))) {
                    e.preventDefault();
                }
            });
        });
    </script>
}

