﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <!-- /.box-body -->

                    <div id="studenRsult" class="box-footer">
                        <div id="printDIV">
                            <!-- title row -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="page-header" width="100%" style="margin-bottom: 25px;">
                                        <tr>
                                            <td><img src="~/ContentHome/Account/img/logouu.jpg" alt="UniversityLogo" style="width: 120px; height: 90px; border-radius: 25px 0px;" /></td>
                                            <td>
                                                <h2>Uttara University</h2>
                                                <b>Uttara, Dhaka</b><br>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- info row -->
                            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px; text-align: center;">Academic Transcript</p>
                            <div class="row">

                                <div class="col-xs-6">
                                    <p class="lead">Student Details</p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th style="width: 50%">Name:</th>
                                                <td><label id="printName" style="font-weight: bold;"></label></td>
                                            </tr>
                                            <tr>
                                                <th style="width: 50%">Email:</th>
                                                <td><label id="printEmail"></label></td>
                                            </tr>
                                            <tr>
                                                <th style="width: 50%">Department:</th>
                                                <td><label id="printDepartment"></label></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- accepted payments column -->
                                <div class="col-xs-6">
                                </div>
                                <!-- /.col -->
                            </div>

                            <!-- Table row -->
                            <div class="row">
                                <div class="col-xs-12 table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Serial</th>
                                                <th>Course Code</th>
                                                <th>Student Name</th>
                                                <th>Grade</th>
                                            </tr>
                                        </thead>
                                        <tbody id="myDataPrint"></tbody>
                                    </table>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                        </div>
                        <!-- /.print div -->

                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
            <div class="col-md-12 table-responsive">

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row no-print">
            <div class="col-xs-12">
                <!--<a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>-->
                <a onclick="window.print()" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
                <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment
                </button>
                <button type="button" onclick="window.print()" target="_blank" class="btn btn-primary pull-right" style="margin-right: 5px;">
                    <i class="fa fa-download"></i> Generate PDF
                </button>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

