﻿@using Microsoft.AspNet.Identity
@model UniversityManagmentSystem.Models.ManageUserViewModel

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">You're logged in as <strong>@User.Identity.GetUserName()</strong>.</h3>
                    </div>
                    <div class="box-body">
                        @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Change Password Form</h4>
                            @Html.ValidationSummary()
                            <div class="form-group">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-6">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <input type="submit" value="Change password" class="btn btn-primary btn-block" />
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        }
                        
                    </div>                      <!-- /.box-body -->
                    <div class="box-footer">

                    </div>

                </div>


