﻿@model UniversityManagmentSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">
                <div class="brand">
                    <img src="/ContentHome/Account/img/logouu.jpg">
                </div>
                <div class="card fat">
                    <div class="card-body">
                        @using (Html.BeginForm("Registeration", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>Create a new account.</h4>
                            <hr />
                            @Html.ValidationSummary()
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName)
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-primary btn-block" value="Register" />
                                </div>
                            </div>
                            <p>
                                Have an account? @Html.ActionLink("Login", "LoginIndex","Login")
                            </p>
                        }
                    </div>
                </div>
                <div class="footer">
                    <p>Copyright<a> &copy; 2018 BITM &mdash; PHARMA, Batch: 51.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
