﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title :: University Managmet System</title>
    <link href="~/EmranFolder/Images/icon.png" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    @Styles.Render("~/ContentHome/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="main-header">
        <a href="#"class="logo">
            <span class="logo-mini"><b>BI</b>TM</span>
            <span class="logo-lg"><b>PHARMA</b></span>
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li>@Html.ActionLink("Log off", "LoginIndex", "Login", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>
        </nav>
    </div>

    <aside class="main-sidebar">
        <section class="sidebar">

            <div class="user-panel">
                <div class="pull-left image">
                    <img src="~/ContentHome/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@Html.ActionLink( User.Identity.GetUserName() , "Index", "Home")</p>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="active header">CONTROL PANEL</li>
                
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i>
                        <span>UI Elements</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    @*<ul class="treeview-menu">*@
                        <li> @Html.ActionLink("Department View", "Index", "Department")</li>
                        <li> @Html.ActionLink("Techer Information View", "Index", "Teacher")</li>
                        <li> @Html.ActionLink("Course Statics View", "ShowCourseStatics", "CourseView")</li>
                        
                        <li> @Html.ActionLink("Class Schedule & Room Allocation", "Index", "ClassRoom")</li>
                        <li> @Html.ActionLink("Student View", "Index", "Student")</li>
                        <li> @Html.ActionLink("Student Result View", "ViewStudentResult", "StudentResult")</li>
                        <li> @Html.ActionLink("Unassing Course", "UnAssignCourses", "UnAssignCourses")</li>
                        <li> @Html.ActionLink("Unallocate Class Room", "UnAllocateClassRoom", "ClassRoom")</li>
                    @*</ul>*@
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Forms</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    @*<ul class="treeview-menu">*@
                        <li>@Html.ActionLink("Department Setup", "DepartmentCreate", "Department")</li>
                        <li>@Html.ActionLink("Course Setup", "CourseSave", "Course")</li>
                        <li> @Html.ActionLink("Teacher Setup", "TeacherCreate", "Teacher")</li>
                        <li> @Html.ActionLink("Course Assign To Teacher", "AssignCourseToTeacher", "CourseAssignToTeacher")</li>
                        
                        <li> @Html.ActionLink("Student Registration", "Save", "Student")</li>
                        <li> @Html.ActionLink("Allocate Class Room", "Save", "ClassRoom")</li>
                        <li> @Html.ActionLink("Enroll In Course", "Enroll", "EnrollStudentInCourse")</li>
                        <li> @Html.ActionLink("Student Result Save", "Save", "StudentResult")</li>
                    @*</ul>*@
                </li>

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <div class="wrapper">
        @RenderBody()
        <footer class="main-footer">
            <div id="copyright">
                <b><a>&copy; @DateTime.Now.Year, All Rights Reserved BITM(Web App.Net) Group: PHARMA(51).</a></b><br />
                <p>Design &amp; Develop By :- Emran Khan, Rumman</p>
            </div>
        </footer>
</div>
        <div class="control-sidebar-bg"></div>
        @Scripts.Render("~/bundles/ContentHome")
        @RenderSection("scripts", required: false)

</body>
</html>