﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title &mdash; User Control </title>
    <link href="~/EmranFolder/Images/icon.png" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/ContentHome/Account/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="my-login-page">

        @RenderBody()

    @Scripts.Render("~/bundles/ContentHome/Account")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

</body>
</html>