﻿@model UniversityManagmentSystem.Models.TempClassSchedule
@{
    ViewBag.Title = "Class Room Index";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}


<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Class Schedule & Room Allocation Infromation</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="form-group">
                            <label for="DepartmentId" class="col-sm-3 control-label">Select Department</label>
                            <div class="col-sm-6">
                                <select id="DepartmentId" name="DepartmentId" class="form-control">
                                    <option value="">---Select Department---</option>
                                    @foreach (var dept in ViewBag.Departments)
                                    {
                                        <option value="@dept.Id">@dept.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>

                        <table id="SchduleTable" class=" table table-hover table-bordered">
                            <thead class="table-striped">
                            <tr>
                                <th style="width: 30px">Serial</th>
                                <th style="width: 150px;">Course Code</th>
                                <th style="width: 220px;">Course Name</th>
                                <th style="width: 350px;">Schedule Info</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <p>@Html.ActionLink("Allocate Class Room", "Save")</p>
                        @if (ViewBag.message != null)
                        {
                            <p style="font-size: 20px; color: blue">@ViewBag.message</p>
                        }
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section scripts{
    <script>
        $(document).ready(function () {
            $("#DepartmentId").change(function () {
                $('#SchduleTable tbody').empty();
                var deptId = $("#DepartmentId").val();
                var json = { departmentId: deptId, };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetClassScheduleByDepartment", "ClassRoom")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            key ++;
                            $("#SchduleTable tbody").append('<tr><td>' + key + '</td><td>' + value.CourseCode + '</td><td>' + value.CourseName + '</td><td>' + value.ScheduleInfo + '</td></tr>');
                        });
                    }
                });
            });
        });
    </script>
}

