﻿@model UniversityManagmentSystem.Models.ClassRoom
@{
    ViewBag.Title = "Class Room Allocate Save";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Allocate Class Room</h3>
                    </div>
                    <div class="box-body">
                        <!-- form start -->
                        <form id="saveClassScedule" method="post" class="form-horizontal">
                            <div class=" form-group">
                                <label for="DepartmentId" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-6">
                                    <select id="DepartmentId" name="DepartmentId" class="form-control">
                                        <option value="">---Select Department---</option>
                                        @foreach (var dept in ViewBag.Departments)
                                        {
                                            <option value="@dept.Id">@dept.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class=" form-group">
                                <label for="CourseId" class="col-sm-3 control-label">Course</label>
                                <div class="col-sm-6">
                                    <select id="CourseId" name="CourseId" class="form-control">
                                        <option value="">---Select---</option>

                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="RoomId" class="col-sm-3 control-label">Room No</label>
                                <div class="col-sm-6">
                                    <select id="RoomId" name="RoomId" class="form-control">
                                        <option value="">---Select---</option>
                                        @foreach (var room in ViewBag.Rooms)
                                        {
                                            <option value="@room.Id">@room.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="DayId" class="col-sm-3 control-label">Day</label>
                                <div class="col-sm-6">
                                    <select id="DayId" name="DayId" class="form-control">
                                        <option value="">---Select---</option>
                                        @foreach (var day in ViewBag.Days)
                                        {
                                            <option value="@day.Id">@day.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                        <div class="form-group">
                            <label for="StartTime" class="col-sm-3 control-label">Start Time</label>
                        <div class="col-sm-6">
                            <div class="bootstrap-timepicker">
                                <input type="text" id="StartTime" class="form-control" name="StartTime" />
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                        </div>
                            
                                <div class="form-group">
                                    <label for="Endtime" class="col-sm-3 control-label">End Time</label>
                                    <div class="col-sm-6">
                                        <div class="bootstrap-timepicker">
                                            <input type="text" id="Endtime" class="form-control" name="Endtime" />
                                        </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-info pull-left">Save</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </form>
                    </div>                      <!-- /.box-body -->
                    <div class="box-footer">
                        <p>@Html.ActionLink("View Class Schedule", "Index", "ClassRoom")</p>
                        @if (ViewBag.Message != null)
                        {
                            <p style="font-size: 20px; color: blue">@ViewBag.Message</p>
                        }
                    </div>
                    <!-- /.box-footer -->
                    <!-- form end -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section scripts{
 
    <script src="~/Scripts/jquery.validate.js"></script>
  
    <script>
        $(document).ready(function () {

            $("#saveClassScedule").validate({
                rules: {
                    CourseId: "required",
                    RoomId: "required",
                    DayId: "required",
                    StartTime: "required",
                    DepartmentId: "required",
                    Endtime: "required"

                },
                messages: {
                    CourseId: "Please Select  Course!",

                    RoomId: "Please Select room!",
                    DayId: "Please Select day!",
                    StartTime:"Select Start time!",
                    DepartmentId: "Please select department!",
                    Endtime: "Please select End time!"
                }
            });

            $("#DepartmentId").change(function () {
                var deptId = $("#DepartmentId").val();
                $("#CourseId").empty();
                $("#CourseId").append('<option value="">---Select Course---</option>');

                var json = { departmentId: deptId, };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCoursesByDepartmentId", "ClassRoom")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //alert(data);
                        $.each(data, function (key, value) {
                            //alert(key);
                            $("#CourseId").append('<option value=' + value.Id + '>' + value.Code + '</option>');

                        });
                    }
                });


            });
            $("#StartTime").timepicker({
                showInputs: false
            });

            $("#Endtime").timepicker({
                showInputs: false
            });

            //Timepicker
            $(".timepicker").timepicker({
                showInputs: false
            });

        });
    </script>
}

