﻿
@{
    ViewBag.Title = "ShowCourseStatics";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Course Static Information</h3>
                    </div>
                    <div class="box-body form-horizontal">
                        <div class="form-group">
                            <label for="DepartmentId" class="col-sm-3 control-label">Select Department</label>
                            <div class="col-sm-6">
                                <select id="DepartmentId" name="DepartmentId" class="form-control">
                                    <option value="">---Select Department---</option>
                                    @foreach (var dept in ViewBag.Departments)
                                    {
                                        <option value="@dept.Id">@dept.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>

                        <table class="table table-bordered hover">
                            <tr>
                                <th style="width: 30px">Serial</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Semester</th>
                                <th>Teacher</th>
                            </tr>
                            <tbody id="myData"></tbody>
                        </table>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <p>@Html.ActionLink("Course Assign", "AssignCourseToTeacher","CourseAssignToTeacher")</p>
                        @if (ViewBag.message != null)
                        {
                            <p style="font-size: 20px; color: blue">@ViewBag.message</p>
                        }
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section scripts{

    <script>
        $(document).ready(function() {
            $("#DepartmentId").change(function () {
                $("#myData").empty();
                var deptId = $("#DepartmentId").val();
                var json = { departmentId: deptId };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCourseInformationByDepartmentId", "CourseView")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        
                        $.each(data, function (index, value) {
                            index++;
                            var row = $("<tr><td>" + index + "</td><td>" + value.Code + "</td><td>" + value.Name + "</td><td>" + value.Semester + "</td><td>" + value.Teacher + "</td></tr>");
                            $("#myData").append(row);
                        });
                    }
                });
            });
        });
    </script>
}

