﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            University Managment System
            <small>Control panel</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">

        </div>
        <!-- /.row -->
    </section>
</div>
