
/**/
html, body
{
	height: 100%;
	width: 100%
	
}

body
{
	margin: 18px 0px 0px 0px;
	padding-top: 25px;
	background-color: #CDCDCD;
	font-family: Tahoma, Verdana, Arial;
	font-size: 15px;
	font-weight: 300;
	color: #000000;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #2980B9;
}

a:hover
{
	text-decoration: none;
}

#wrapper
{
	background: #fff;
}

#Lowrapper
{
	margin: 0% 3% 0% 3%;
	background-color: #2980B9;
	overflow:hidden;	
}
.body
    {
    position:static;	
    width:auto;
    height:100%;
    background-color: #fff;
    padding: 0.1% 0% 0% 0%;
    margin: 0.70% 1% 1% 1%;

    }
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-left
{
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
{
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
{
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}

ul.contact li
{
	display: inline-block;
	padding: 0em 0.30em;
	font-size: 1em;
}

ul.contact li span
{
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a
{
	color: #FFF;
}

ul.contact li a:before
{
	display: inline-block;
	background: #3f3f3f;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	color: #FFFFFF;
}

ul.contact li a.icon-twitter:before
{
	background: #2DAAE4;
}

ul.contact li a.icon-facebook:before
{
	background: #39599F;
}

ul.contact li a.icon-dribbble:before
{
	background: #C4376B;
}

ul.contact li a.icon-tumblr:before
{
	background: #31516A;
}

ul.contact li a.icon-rss:before
{
	background: #F2600B;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
{
	display: inline-block;
	padding: 1em 3em 1em 2em;
	letter-spacing: 0.20em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #FFF;
}

.button:before
{
	display: inline-block;
	background: #FFC31F;
	margin-right: 1em;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	text-align: center;
	color: #272925;
}

/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,  .box2,  .box3,  .box4
{
	width: 235px;
}
 .box1,  .box2,  .box3, {
 float: left;
 margin-right: 20px;
}

.box4
{
	float: right;
}

/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/
.boxThree
{
    margin: 0px 0px 25px 0px;
}
	.boxA,  .boxB,  .boxC
    {
    float: left;
	margin-top: 25px;
	margin-right: 15px;
	width: 378px;
	border: 1px solid red;    /*emran*/
	position:inherit;
	background: #3498DB;
	border-radius: 15px;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(0,0,0,.2);
	font-size: 1em;
	font-weight: 400;
	color: #FFF;	
    }

.boxA
{
	margin-left: 15px;
}
/*.boxC
{
	float: right;
}
*/
/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.two-col-one,  .two-col-two
{
	width: 575px;
	/*border: 1px solid red;*/
}

.two-col-one
{
	float: left;
}

.two-col-two
{
	float: right;
}



/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#headerwrapper
{
	background: url(../images/banner.jpg) no-repeat;
	overflow: hidden;
	height:450px;
}

#header
{
    position: fixed;
    float:left;
    top: 0em;
    color:inherit;
    text-transform:inherit;
    background: #2980B9;
    margin: auto;
    height: 60px;
    width: 100%;
}

/*
#head
{
    position: fixed;
    float:left;
    top: 0em;
    color:inherit;
    text-transform:inherit;
    background: #0E67B0;
    margin: auto;
    height: 60px;
    width: 100%;
}
*/
/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	height: auto;
	float:left;
    width: auto;
    padding: 1em 1.5em 0.5em 1.5em;
}

#logo h1
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 1.5em 2em;
	background: #2980B9;
	border-radius: 0px 0px 5px 5px;
}

#logo a
{
	text-decoration: none;
	color: #FFF;
}
#logo:hover {
  background: #2c89c6;
}

/*********************************************************************************/
/* Menu                           right: 0;         position: absolute;                                      */
/*********************************************************************************/

#menu
{
	/*padding: 1em 1em 1em 1em;*/
	padding: .5em 0.5em 0.5em .5em;
	width: auto;
	float:right;
	text-transform:inherit;
	
}

#menu ul
{
	display: inline-block;
	padding: 1em 0em;
	border-radius: 5px;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}

#menu li a, #menu li span
{
	padding: 1em 1.5em;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.90em;
	font-weight: 600;
	color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu .current_page_item a
{
}

#menu .icon
{
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
{
	padding: 10em 0em;
}

#banner span
{
	display: block;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 2.5em;
	color: #FFF;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
	    margin-bottom: 25px;
		/*margin-top: 25px;
		border: 2px solid green;*/
	}
	
	#page h2
	{
		padding-bottom: 1.5em;
		text-transform: uppercase;
		font-size: 1.5em;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
{
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
{
    
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
{
    overflow : hidden;
	padding: 1em 0em 0em 0em;
	background-color: #D5D3D4;
}



/******************/
.topfooter{
    background-color: #2C3536;
    border-top: 3px solid #000000;
    display: block;
    text-align: center;

}
.topfooter ul{
    margin: 0px;
}
.topfooter ul li{
    display: inline;
    list-style: none;
    padding: 0 10px;
}
.topfooter ul li a{
    color: #FFF;
    font-size: 14px;
}
.footerlink ul li a:hover{
    color: #B10C12;
}

/******************/
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
{
	overflow: hidden;
	background: #2980B9;
	text-align: center;
	font-size: 10pt;
	padding-top: 1em;
}

#copyright p
{
	text-transform: uppercase;
	text-align: center;
	font-size: 10pt;
	/*color: rgba(255,255,255,0.6);*/
}

#copyright a
{
    letter-spacing: 0.20em;
	text-decoration: none;
	color: rgba(255,255,255,0.9);
}
#copyright p:hover{
    color: #fcc;
}
#copyright a:hover{
    color: black;
}
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title
{
	/*margin-bottom: 2em;*/
	
	padding: 1.5em 0em 1.5em 1.5em;
}

.title h2
{
	font-size: 2.8em;
	font-weight: 700;
	text-transform: uppercase;
}

.title .byline
{
	font-size: 1.1em;
	color: #6F6F6F;
}

/*********************************************************************************/
/* Staff                                                                         */
/*********************************************************************************/

#staff
{
	padding: 1.5em 0em 1.5em 0em;
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#contact-wrapper
{
	background: #E0E0E0;
	border-top: 1px solid rgba(0,0,0,.1);
}

#contact
{
	padding: 5em 0em 5em 0em;
}

ul.style3
{
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style: none;
	color: #6c6c6c
}

ul.style3 li
{
	padding: 1.6em 0em 0em 0em;
	margin: 0 0 1em 0;
}

ul.style3 p
{
	margin: 0;
}

ul.style3 a
{
	display: block;
	text-decoration: none;
	color: #2D2D2D;
}

ul.style3 a:hover
{
	text-decoration: underline;
}

ul.style3 h3
{
	padding: 1em 0em 5px 0em;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 300;
}

ul.style3 .first
{
	padding-top: 0;
	background: none;
}

ul.style3 .date
{
	float: left;
	position: relative;
	width: 80px;
	height: 70px;
	margin: 0.5em 1.5em 0em 0.5em;
	padding: 20px 0em 0em 0em;
	background: #3498DB;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 1px 0px rgba(0,0,0,.2);
	font-size: 1em;
	font-weight: 400;
	color: #FFF;
}

ul.style3 .date:after
{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

ul.style3 .date b
{
	margin: 0;
	padding: 0;
	display: block;
	margin-top: -5px;
	font-size: 1.8em;
	font-weight: 700;
	color: #FFFFFF;
}

ul.style3 .date a
{
	color: #FFFFFF !important;
}

ul.style3 .date a:hover
{
	text-decoration: none;
}

ul.underline
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.underline li
{
	border-top: 1px solid rgba(0,0,0,0.1);
	line-height: 3em;
}

ul.underline a
{
	color: #2D2D2D;
}

ul.underline .first
{
	padding-top: 0px;
	border-top: none;
}
