﻿.headermenu
{
    padding: 0em 0em 0em 0em;
}

.ddsmoothmenu
{
    display: block;
    position: relative;
    padding: 1em 0em 0em 0em;
    top: 0em;
    font-family: Tahoma, Verdana, Arial;
    width: auto;
    height: 30px;
    margin: 0px;
    float: left;
    font-size: 15px;
    color: #172c70;

}

.ddsmoothmenu ul
{
    z-index: 9;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*Top level list items*/
.ddsmoothmenu ul li
{
    position: relative;
    display: inline;
    float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a
{
    display: block;
    color: White;
    padding: 6px 20px;
    text-decoration: none;
    z-index: 9;
}
.ddsmoothmenu li a
{
    color: white;
    display: block;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    text-decoration: none;
}

* html .ddsmoothmenu ul li a
{
    /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}
/*1st sub level menu*/
.ddsmoothmenu ul li ul
{
    position: absolute;
    left: 0px;
    display: none; /*collapse all sub menus to begin with*/
    visibility: hidden; /* border: 1px solid #ccc;*/
    margin-left: 0px;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul
{
    top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a
{
    padding: 6px 15px;
    margin: 0px;
    list-style: none;
    white-space: nowrap;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu
{
    height: 1%;
}

/*Start Modify by Emran */

/*Sub menu hover Effect*/

/* top menu style*/
.ddsmoothmenu ul li a.selected
{
    background: -webkit-gradient(linear, center top, center bottom, from(#ccc), to(#ededed));
    background-image: linear-gradient(#ccc, #ededed);
    border-radius: 12px;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
    color:black;
}


/*Sub menu background style*/
.ddsmoothmenu li:hover ul
{
    background-color: #2980B9;
    border-radius: 2px;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.1);
    left: 0px;
    opacity: 1;
    color:black;
}
.ddsmoothmenu ul li a:hover
{
    display: list-item;
    background: -webkit-gradient(linear, center top, center bottom, from(#ededed), to(#fff));
    background-image: linear-gradient(#ededed, #fff);
    border-radius: 9px;
    box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
    color:black;
}

/*End Modify by Emran */



/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass
{
    position: relative;
    margin-top: -7px;
    right: -12px;
    margin: 0px 0px 0px;
    overflow: auto;
}

.rightarrowclass
{
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 15px;
}


/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow
{
    /*shadow for NON CSS3 capable browsers*/
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    background: silver;
}

.toplevelshadow
{
    /*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
    opacity: 0.3;
}

.page /*Modify by Emran*/
{
    width: 960px;
    background-color: white; /*Full Page Background-Color*/
    margin: 10px auto 10px auto; /*top right bottom left*/ /*border: 1px dotted #496077;*/
}



input, select
{
    color: #666;
}

a:hover
{
    color: #c63838;
    text-decoration: underline;
}

/*.bg-shadow {
	width: 100%;
	background-image: url('../img/bg-shadow.png');
	background-repeat: no-repeat;
	background-position: top center;
}*/

.bg-shadow
{
    width: 100%;
    background-image: url('../img/bg-flag1.jpg');
    background-repeat: no-repeat;
    background-position: top center;
}

.site-block
{
    width: 982px;
    background-color: #ffffff; /*background-image: url(../img/banner.jpg);*/
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    margin: auto;
}

/*----------header----------*/
.header-block
{
    width: 982px;
    height: 157px;
}

.logo
{
    width: 982px;
    height: 157px;
    padding-left: 0px;
    float: left;
}

.header-right-part
{
    width: 780px;
    height: 157px;
    float: left;
    background-image: url('../img/header-logo.png');
    background-repeat: no-repeat;
    background-position: right;
}

.header-lang-block
{
    width: 745px;
    height: 28px;
    padding-top: 12px;
}

.lang-block
{
    width: 208px;
    height: 28px;
    padding-top: 2px;
}

.header-title
{
    width: 588px;
    height: 75px;
    padding-left: 5px;
}

.lang-icon
{
    width: 16px;
    height: 14px;
    float: left;
    padding: 1px 8px 0px 13px;
}

.lang-text
{
    height: 14px;
    float: left;
    font-size: 10px;
    font-family: Sylfaen, Tahoma;
}


.lang-text a:active, .lang-text a:visited, .lang-text a:link
{
    color: #666666;
    text-decoration: none;
}

.lang-text a:hover
{
    color: #999999;
    text-decoration: underline;
}
/*----------header----------*/

/*----------topmenu----------*/

.top-menu-block
{
    width: 982px;
    height: 40px;
}

.top-menu
{
    width: 957px;
    background: url(../img/menubg.png) repeat-x;
    height: 40px;
    padding-left: 25px;
}

.category
{
    height: 40px;
    float: left;
}

.category1
{
    height: 40px;
    float: left;
    width: 220px;
}
/*----------topmenu----------*/


/*----------menu----------*/

/*----------menu----------*/

/*----------category----------*/
/*
.category-block {
	width: 204px;
	overflow: hidden;
	margin: auto;
	padding-bottom: 20px;
}

.categories {
	width: 200px;
	overflow: hidden;
	border-bottom: solid #ececec 1px;
}


.menu-square {
	width: 15px;
	height: 4px;
	float: left;
	padding-top: 12px;
	padding-left: 5px;
}

.menu {
	width: 180px;
	float: left;
	line-height: 30px;
	min-height: 30px;
	font-size: 13px;
	font-family: Tahoma, Verdana, Arial;
}

.menu a:active,
.menu a:visited,
.menu a:link {
	color: #535353;
	text-decoration: none;
}

.menu a:hover {
	color: #172c70;
	text-decoration: underline;
    background: #fafafc;

}

#mmenuitem {
	background-color:#fafafa; 
	border:1px solid #c0c0c0; 
	padding-top:5px; 
	padding-bottom:7px; 
	padding-left:7px; 
	width:180px;
}

#mmenuitem a:active,
#mmenuitem a:visited,
#mmenuitem a:link {
	color: #535353;
	text-decoration: none;
}

#mmenuitem a:hover {
	color: #172c70;
	text-decoration: underline;
}

/*----------category----------*/


/*----------content----------*/

/*****left Side**Emran Khan**/

.content-block-left
{
    width: 250px;
    overflow: hidden;
    padding-top: 1px;
    /*border: 1px solid green;*/
    float:left;
}
.content-left-block
{
    width: 250px;

}
.content-left-part
{
    width: 208px;
    overflow: hidden;
    margin: auto;
}
/*****Right Side**Emran Khan**/
.ERowSroll
{
    overflow:scroll;
    width:auto;
}
.ERow table
{
    width: 100%;
}
.ERow img
{
    width: 60px;
    height:60px;
}

/*Height="60px" Width="60px"*/
.content-block-right
{
    width: 938px;
    /*float:right;
    border: 1px solid green;
*/
    float:left;
    
    
}

.content-right-block
{
    width: 938px;

}
.content-right-part
{
    width: 938px;
    overflow: hidden;
}
.news-block
{
    width: 938px;
}
/*---------Top Header style -Emran Khan--content----------*/
.content-block-top
{
    width: 940px;
    height: 42px;
}

.content-block-top-left
{
    width: 9px;
    height: 42px;
    float: left;
    background-image: url('../img/content-button-left.png');
    background-repeat: no-repeat;
}

.content-block-top-center
{
    width: 920px;
    height: 42px;
    float: left;
    background-image: url('../img/content-button-bg.png');
    background-repeat: repeat-x;
}

.content-img
{
    height: 13px;
    padding-left: 8px;
    padding-top: 15px;
    font-size: 14px;
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
    color: #0d5ea5;
}
.content-block-top-right
{
    width: 9px;
    height: 42px;
    float: left;
    background-image: url('../img/content-button-right.png');
    background-repeat: no-repeat;
}
/***End Top Header style**Emran Khan**/
.news-block-top
{
    width: 940px;
    height: 41px;
}
.news-block-bottom
{
    width: 940px;
    height: 42px;
}

.news-bottom-left
{
    width: 9px;
    height: 42px;
    float: left;
    background-image: url('../img/news-bottom-left.png');
    background-repeat: no-repeat;
}

.news-bottom-bg
{
    width:920px;
    height: 42px;
    float: left;
    background-image: url('../img/news-bottom-bg.png');
    background-repeat: repeat-x;
}

.news-bottom-right
{
    width: 9px;
    height: 42px;
    float: left;
    background-image: url('../img/news-bottom-right.png');
    background-repeat: no-repeat;
}
/****End Right Side****/


.search-block
{
    width: 208px;
    height: 42px;
    background: url(../img/search_bg.gif) no-repeat top;
    margin: 2px 0 10px 0; /**background: #f1f1f1; 	margin-bottom: 17px;*/
}

.search-form
{
    width: 187px;
    height: 22px;
    padding-top: 8px;
    padding-left: 10px;
    float: left;
}

.search-icon
{
    width: 22px;
    height: 22px;
    float: left;
    padding-top: 10px;
}
/*----------content----------*/

.top-news
{
    width: 700px;
    overflow: hidden;
    margin-bottom: 30px;
}

.top-news-img
{
    width: 364px;
    height: 242px;
    border: solid #dadada 1px;
    text-align: center;
    padding-top: 2px;
    float: left;
}

.top-news-description
{
    width: 310px;
    overflow: hidden;
    padding-left: 17px;
    float: left;
}


.top-news-date
{
    line-height: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
    padding-top: 5px;
}

.top-news-title
{
    line-height: 15px;
    font-size: 11px;
    color: #0d5ea5;
    font-weight: bold;
    font-family: Verdana, Arial, helvetica;
}

.top-news-text
{
    line-height: 15px;
    font-size: 12px;
    color: #000000;
    font-family: helvetica, Arial, verdana;
    padding-top: 12px;
}
.newsh
{
    padding-top: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #036;
}
.top-news-title a:active, .top-news-title a:visited, .top-news-title a:link
{
    color: #090;
    text-decoration: none;
}

.top-news-title a:hover
{
    color: #333333;
    text-decoration: underline;
}




/****Right side body style**Emran Khan**/

.content-block-center
{
    width: auto;
    overflow: hidden;
    padding: 0em 1em 0em 1em;
    margin: 0px 0px 0px 0px;
    border-left: solid #dadada 1px;
    border-right: solid #dadada 1px;
   /* padding-bottom: 25px: background: #ffffff;*/
}

.content-info
{
    width: auto;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 12px;
    font-size: 12px;
    font-family: helvetica, Arial, Verdana;
    font-weight: normal;
    line-height: 15px;
}

.content-info-bottom
{
    width: 665px;
    margin: auto;
    border-top: solid #e9e9e9 1px;
    font-size: 11px;
    padding-top: 8px;
}

.content-info-bottom-left
{
    width: 400px;
    height: 35px;
    float: left;
}

.content-info-bottom-right
{
    width: 265px;
    height: 35px;
    float: left;
}

.content-info-icon
{
    width: 19px;
    height: 22px;
    float: left;
    padding-left: 3px;
}

.content-info-text
{
    height: 22px;
    float: left; /*font-family: Tahoma, Verdana, Arial;*/
    padding-left: 10px;
    padding-right: 19px;
    line-height: 20px;
}

.content-info-icon2
{
    width: 19px;
    height: 22px;
    float: right;
    padding-left: 3px;
}

.content-info-text2
{
    height: 22px;
    float: right;
    font-family: Tahoma, Verdana, Arial;
    padding-left: 10px;
    padding-right: 19px;
    line-height: 20px;
}

.content-info-text a:active, .content-info-text a:visited, .content-info-text a:link
{
    color: #010101;
    text-decoration: none;
}

.content-info-text a:hover
{
    color: #375695;
    text-decoration: underline;
}

.content-info-text2 a:active, .content-info-text2 a:visited, .content-info-text2 a:link
{
    color: #010101;
    text-decoration: none;
}

.content-info-text2 a:hover
{
    color: #375695;
    text-decoration: underline;
}

.content-poster
{
    width: 204px;
    height: 152px;
    float: left;
    border: solid #cccccc 1px;
    text-align: center;
    padding-top: 2px;
    margin-right: 12px;
}

.overflow
{
    overflow-x: scroll;
}
/*----------content----------*/

/*----------block----------*/
.block
{
    width: 197px;
    margin-bottom: 17px;
}



.block-top
{
    width: 208px;
    height: 41px;
}



.block-top-left
{
    width: 9px;
    height: 41px;
    float: left;
    background-image: url('../img/block-top-left.png');
    background-repeat: no-repeat;
}

.block-top-center
{
    width: 190px;
    height: 41px;
    float: left;
    background-image: url('../img/block-top-center.png');
    background-repeat: repeat-x;
}

.news-block-top-center
{
    width: 682px;
    height: 41px;
    float: left;
    background-image: url('../img/block-top-center.png');
    background-repeat: repeat-x;
}

.news-img
{
    height: 15px;
    padding-left: 8px;
    padding-top: 5px;
}

.block-top-right
{
    width: 9px;
    height: 41px;
    float: left;
    background-image: url('../img/block-top-right.png');
    background-repeat: no-repeat;
}

.block-center
{
    width: 206px;
    overflow: hidden;
    /*border-left: solid #dadada 1px;
    border-right: solid #dadada 1px;*/
    
    padding-left: 8px;
    background: #ffffff;
}

.news-block-center
{
    width: 698px;
    overflow: hidden;
    border-left: solid #dadada 1px;
    border-right: solid #dadada 1px;
    padding-bottom: 25px:;
}

.news-list-block
{
    width: 670px;
    margin-bottom: 15px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}

.news-list
{
    width: 670px;
    padding-top: 10px;
    padding-bottom: 15px;
    overflow: hidden;
}

.news-list-line
{
    width: 670px;
    height: 1px;
    background-color: #ececec;
    overflow: hidden;
}

.news-poster
{
    width: 154px;
    height: 102px;
    padding-top: 2px;
    float: left;
    text-align: center;
    border: solid #cccccc 1px;
}


.news-description
{
    width: 493px;
    overflow: hidden;
    padding-left: 17px;
    float: left;
}

.news-date
{
    line-height: 15px;
    font-size: 10px;
    color: #333333;
    font-weight: bold;
}

.news-title
{
    line-height: 15px;
    font-size: 14px;
    color: #0d5ea5;
    font-family: Tahoma, Verdana, Arial;
    font-weight: bold;
}

.news-text
{
    line-height: 15px;
    font-size: 12px;
    color: #000000;
    font-family: helvetica, Arial, Verdana;
    padding-top: 8px;
}
.news-title a:active, .news-title a:visited, .news-title a:link
{
    color: #930;
    text-decoration: none;
}

.news-title a:hover
{
    color: #333333;
    text-decoration: underline;
}

.read-more
{
    line-height: 40px;
    font-size: 10px;
    color: #0d5ea5;
    font-family: Tahoma, Verdana, Arial;
}

.read-more a:active, .read-more a:visited, .read-more a:link
{
    color: #000000;
    text-decoration: none;
}

.read-more a:hover
{
    color: #0d5ea5;
    text-decoration: underline;
}

.block-bottom
{
    width: 208px;
    height: 6px;
    background-image: url('../img/block-bottom.png');
    background-repeat: no-repeat;
}



/*----------block----------*/

.top-banner-block
{
    width: 204px; /*height: 62px;*/
    text-align: center; /*margin: auto; 	border: solid #dadada 1px;*/
    padding-top: 2px;
    margin-bottom: 5px;
}


.banner-block
{
    width: 204px; /*height: 62px;*/
    text-align: center;
    margin: auto;
    border: solid #dadada 1px;
    padding-top: 2px;
    margin-bottom: 5px;
}

/*----------content bottom----------*/
.content-bottom-block
{
    width: 945px;
    height: 110px;
    margin: auto;
    padding-top: 20px;
}

.content-bottom-part
{
    width: 189px;
    height: 85px;
    text-align: center;
    float: left;
}
/*----------content bottom----------*/

/*----------footer----------*/
.footer-block
{
    width: 100%;
    height: 60px;
    color: #FFF;
    background-image: url(../img/bg-footer.jpg);
    background-color: #0099FF;
    background-position: bottom;
    background-repeat: repeat-x;
}

.footer
{
    width: 934px;
    height: 265px;
    margin: auto;
    padding-top: 31px;
}

.footer-bottom
{
    width: 934px;
    height: 48px;
    margin: auto;
}

.copyright-block
{
    width: 532px;
    height: 48px;
    float: left;
}

.copyright
{
    width: 532px;
    font-family: Tahoma, Verdana, Arial;
    font-size: 10px;
    color: #ffffff;
    padding-top: 6px;
    line-height: 16px;
}

.designed-block
{
    width: 400px;
    height: 48px;
    float: left;
}

.designed
{
    width: 116px;
    height: 36px;
    float: right;
    padding-top: 7px;
}

.topge
{
    width: 90px;
    height: 31px;
    padding: 10px 30px 0 0;
    float: right;
}

.footer-ministry-block
{
    width: 222px;
    float: left;
    margin-left: 3px;
    margin-right: 5px;
}

.footer-news-block
{
    width: 225px;
    overflow: hidden;
    float: left;
    margin-left: 4px;
}

.footer-education-block
{
    width: 225px;
    overflow: auto;
    float: left;
    margin-left: 4px;
}

.footer-science-block
{
    width: 225px;
    overflow: auto;
    float: left;
    margin-left: 4px;
}

.footer-title
{
    height: 25px;
}

.footer-menu
{
    line-height: 12px;
    font-size: 11px;
    padding-left: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Tahoma, Verdana, Arial;
}

.footer-menu a:active, .footer-menu a:visited, .footer-menu a:link
{
    color: #ffffff;
    text-decoration: none;
}

.footer-menu a:hover
{
    color: #c9ccd6;
    text-decoration: underline;
}

.footer-line
{
    width: 200px;
    height: 1px;
    padding: 0;
    margin: 0;
    background-image: url('../img/footer-line.gif');
    background-repeat: no-repeat;
}

/*----------footer----------*/

/*----------archive----------*/
.archive-block
{
    width: 170px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
}

.archive-select-block
{
    width: 170px;
    height: 20px;
    margin: 10px 0;
}

.archive-table
{
    width: 170px;
    overflow: auto;
    clear: both;
}

.archive-block td
{
    border: solid #ececec 1px;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #666666;
    line-height: 20px;
}

.archive-block td a:active, .archive-block td a:visited, .archive-block td a:link
{
    color: #0d5ea5;
    text-decoration: underline;
    display: block;
}

.archive-block td a:hover
{
    color: #ffffff;
    text-decoration: none;
    background: #0d5ea5;
    display: block;
}

/*----------archive----------*/
.divider
{
    width: 100px;
    height: 2px;
    display: inline-block;
}


.clear
{
    clear: both;
    height: 0;
}

.counter
{
    margin: 0 auto;
    width: 90px;
    padding: 30px 0;
}

/*---------TextBox Style-------*/


input.textbox, select, textarea
{
    font-family: verdana, arial, snas-serif;
    font-size: 11.5px;
    color: #000000;
    padding: 3px; /*background     :  #f0f0f0;*/
    border-left: solid 1px #c1c1c1;
    border-top: solid 1px #cfcfcf;
    border-right: solid 1px #cfcfcf;
    border-bottom: solid 1px #6f6f6f;
    width: 195px;
}

input.textbox:focus, input.input_text_focus
{
    border-color: #646464;
    background-color: transparent;
}

.p
{
    text-align: justify;
}
