﻿
/****Age Calculator****/
.ageform
{
    background: #EEF0F6;
    width: 690px;
    height: auto;
    margin: 40px auto;
    border-radius: 0.4em;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

.ageinset
{
    padding: 0px;
    height: auto; /*overflow:hidden;   border:1px solid rgba(0,0,0,0.4);*/
    border-radius: 0.4em;
}
.result
{
    float: left;
    width: 690px;
    margin: 0px;
    background-color: #EEF0F6;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
    text-shadow: 0px 1px 0px rgba(0,0,0,.2);
    font-size: 1em;
    font-weight: 400;
    color: Black;
}
.ageresult
{
    float: left;
    width: 300px;
    background-color: #EEF0F6;
    padding: 2em 0em 2em 2em;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
    text-shadow: 0px 1px 0px rgba(0,0,0,.2);
    font-size: 1em;
    font-weight: 400;
    color: Black;
}
.ageformleft
{
    float: left;
    width: 300px;
    background-color: #EEF0F6;
    padding: 2em 0em 2em 2em;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
    text-shadow: 0px 1px 0px rgba(0,0,0,.2);
    font-size: 1em;
    font-weight: 400;
    color: Black;
}
.ageformright
{
    float: right;
    width: 310px;
    padding: 2em 0em 2em 2em;
    background-color: #EEF0F6;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
    text-shadow: 0px 1px 0px rgba(0,0,0,.2);
    font-size: 1em;
    font-weight: 400;
    color: Black;
}
.ageform input[type=email], .ageform input[type=password], .ageform input[type=text], .ageform input[type=submit]
{
    width: 250px;
    height: 32px;
    display: block;
    z-index: 1;
    position: static;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; /*margin-bottom: 10px;*/
}
lavel
{
    color: black;
    display: block;
    padding: 1px 1px 1px 1px;
    float: left;
}
/********Heading Style*********/
.ageform h1
{
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    text-align: center;
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,0.4);
    cursor: move;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 0.3em;
    background: #0184ff;
}
.ageform h1:after
{
    display: block;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50px;
    pointer-events: none;
    transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background-image: -webkit-linear-gradient(50deg, rgba(255,255,255,0.05), rgba(0,0,0,0)); /* For Safari */
}

/***End Age Calculator***/
/******Loginform style***********/
.loginform
{
    background: #fff;
    width: 341px;
    height: 100%;
    margin: 40px auto;
    border-radius: 0.4em;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

.loginbody
{
    margin: 30px;
    overflow: hidden;
    border-radius: 0.4em;
    height: auto;
}

.loginform input[type=email], .loginform input[type=password], .loginform input[type=text], .loginform input[type=submit]
{
    width: 280px;
    height: 32px;
    display: block;
    z-index: 1;
    position: static;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.loginbutton
{
    padding: 15px 1px 15px 1px;
}

.loginbutton:after
{
    clear: both;
    display: table;
    content: "";
}

.loginbutton span
{
    display: block;
    float: left;
    color: #0d93ff;
    padding-top: 8px;
}

.loginblockR
{
    text-align: right;
    float: right;
    padding-bottom: 2em;
}
.loginblockL
{
    text-align: left;
    width: auto;
    float: left;
    position: absolute;
    padding-bottom: 2em;
}
/*****************/
.ChPassform
{
    background: #EEF0F6;
    margin: 2em 4em 20em 28em;
    width: 380px;
    height: auto; /* margin: 40px auto;*/
    border-radius: 0.4em;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}
.ChPassformbody
{
    float: left;
    background-color: #EEF0F6;
    width: 248px;
    padding: 2em 4em 2em 4em;
    border-radius: 0.4em;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
    text-shadow: 0px 1px 0px rgba(0,0,0,.2);
    font-size: 1em;
    font-weight: 400;
    color: Black;
}
/*****************/
#errormsg
{
    border: 1px solid green;
    font-size: 14px;
    color: Red;
    height: 0px;
    width: 0px;
    overflow: hidden;
    visibility: hidden;
    display: none !important;
}
#errormsg1
{
    border: 1px solid green;
    font-size: 14px;
    color: Red;
    height: 0px;
    width: 0px;
    overflow: hidden;
    visibility: hidden;
    display: none !important;
}
.imagebox
{
    width: 220px;
    height: 210px;
    margin: 0px 0px 0px 0px;
    background-image: url("../dist/img/employee.jpg");
    background-repeat: no-repeat;
    box-shadow: 0 2px 5px rgba(0,0,0,.3),0 0 40px rgba(0,0,0,.1)inset;
}
#imageframe
{
    width: 220px;
    height: 210px;
}
.regestrationform
{
    background: #fff;
    width: 634px;
    height: 100%;
    margin: 40px auto;
    border-radius: 0.5em;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

.recoverform
{
    background: #EEF0F6;
    width: 317px;
    height: auto;
    margin: 40px auto;
    border-radius: 0.4em;
    box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}
.regestrationformleft
{
    float: left;
    padding: 2em 2em 2em 2em;
    margin-top: 2em auto;
    margin-left: 2em auto;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
    text-shadow: 0px 1px 0px rgba(0,0,0,.2);
    font-size: 1em;
    font-weight: 400;
    color: Black;
    border: 1px solid black;
}

.regestrationformright
{
    float: left;
    padding: 2em 0em 2em 2em;
    margin-top: 2em auto;
    margin-left: 24em auto;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.1);
    text-shadow: 0px 1px 0px rgba(0,0,0,.2);
    font-size: 1em;
    font-weight: 400;
    color: Black;
    border: 1px solid red;
}

.recoverform:after, .regestrationform:after
{
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 8px;
    left: 20%;
    background: linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
    top: 0;
}

.recoverform:before, .regestrationform:before
{
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 120px;
}

.regestrationformbody
{
    padding: 0px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 0.4em;
}
/********Heading Style*********/
.ageform h1, .regestrationform h1, .loginform h1, .recoverform h1, .ChPassform h1
{
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    text-align: center;
    padding: 15px 0;
    border: 1px solid rgba(0,0,0,0.4);
    cursor: move;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 0.3em;
    background: #0184ff;
}
.ChPassform h1:after, .recoverform h1:after, .regestrationform h1:after, .loginform h1:after
{
    content: "";
    display: block;
    width: 250px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50px;
    pointer-events: none;
    transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
    background: linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
    background-image: -webkit-linear-gradient(50deg, rgba(255,255,255,0.05), rgba(0,0,0,0)); /* For Safari */
}


/*******************/
input[type=submit]
{
    padding: 10px 20px;
    border: 1px solid rgba(0,0,0,0.4);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(255,255,255,0.1);
    border-radius: 0.3em;
    background: #0184ff;
    color: white;
    float: right;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    margin: 0px auto;
}
input[type=submit]:hover
{
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -10px 10px rgba(255,255,255,0.1);
}
/**********emran****************/
.ChPassform input[type=email], .recoverform input[type=email], .regestrationform input[type=email], .ChPassform input[type=password], .recoverform input[type=password], .regestrationform input[type=password], .ChPassform input[type=text], .recoverform input[type=text], .regestrationform input[type=text], .ChPassform input[type=submit], .recoverform input[type=submit]
{
    width: 250px;
    height: 32px;
    display: block;
    z-index: 1;
    position: static;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; /*margin-bottom: 10px;*/
}
input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url]
{
    overflow: hidden;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 28px;
    width: 100%;
    margin: 0;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    font-size: 15px;
    color: #404040;
}
input[type=email]:hover, input[type=number]:hover, input[type=password]:hover, input[type=tel]:hover, input[type=text]:hover, input[type=url]:hover
{
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus
{
    outline: none;
    border: 1px solid #4d90fe;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

/*
  input[type=checkbox],
  input[type=radio] {
  -webkit-appearance: none;
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 0;
  cursor: pointer;
  vertical-align: bottom;
  background: #fff;
  border: 1px solid #c6c6c6;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: static;
  }
  input[type=checkbox]:active,
  input[type=radio]:active {
  background: #ebebeb;
  }
  input[type=checkbox]:hover {
  border-color: #c6c6c6;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }
  input[type=radio] {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  position: static;
  width: 15px;
  height: 15px;
  }
  input[type=checkbox]:checked,
  input[type=radio]:checked {
  background: #fff;
  }
  input[type=radio]:checked::after {
  content: '';
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  background: #666;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  }
  input[type=checkbox]:checked::after {
  content: url(https://ssl.gstatic.com/ui/v1/menu/checkmark.png);
  display: block;
  position: absolute;
  top: -6px;
  left: -5px;
  }
  input[type=checkbox]:focus {
  outline: none;
  border-color: #4d90fe;
  }
  
*/

/**********emran****************/

.p-container
{
    /*padding:0 20px 20px 20px; */
    padding: 15px 0px 0px 0px;
}

.p-container:after
{
    clear: both;
    display: table;
    content: "";
}

.p-container span
{
    display: block;
    float: left;
    color: #0d93ff;
    padding-top: 8px;
}

.textbox
{
    padding: 0em 0em 0.5em 0em;
}
.DropDown
{
    padding: 0em 0em 0.5em 0em;
    height: 32px;
    width: 250px;
}
.text-right
{
    text-align: right;
    float: right;
}
.text-left
{
    text-align: left;
    width: 200px;
    float: left;
    position: absolute;
    padding: 0 20px 20px 20px;
    top: 326px;
    left: 443px;
}
.text-center
{
    text-align: center;
}

.hidden
{
    height: 0px;
    width: 0px;
    overflow: hidden;
    visibility: hidden;
    display: none !important;
}
