﻿@using UniversityManagmentSystem.Models
@model IEnumerable<Teacher>
@{
    ViewBag.Title = "Teacher Info";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Teacher Information</h3>
                    </div>
                    <div class="box-body">

                        <table class="table table-bordered hover">
                            <tr>
                                <th style="width: 40px">Serial</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Contact</th>
                            </tr>
                            @{
                                var index = 0;
                                foreach (Teacher department in Model)
                                {
                                    index++;
                                    <tr>
                                        <td class="text-center">@index</td>
                                        <td>
                                            @department.Name
                                        </td>
                                        <td>
                                            @department.Address
                                        </td>
                                        <td>
                                            @department.Email
                                        </td>
                                        <td>
                                            @department.Contact
                                        </td>
                                    </tr>
                                }
                            }
                        </table>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <p>@Html.ActionLink("Add Teacher", "TeacherCreate")</p>
                        @if (ViewBag.message != null)
                        {
                            <p style="font-size: 20px; color: blue">@ViewBag.message</p>
                        }
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
