﻿@model UniversityManagmentSystem.Models.Teacher
@{
    ViewBag.Title = "Teacher Create";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Teacher Setup</h3>
                    </div>
                    <div class="box-body">
                        <!-- form start -->
                        <form id="saveTeacherForm" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label for="Name" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name">
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Address" class="col-sm-3 control-label">Address</label>
                                <div class="col-sm-6">
                                    <textarea type="text" class="form-control" id="Address" name="Address" placeholder="Enter Address"></textarea>
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="Email" name="Email" placeholder="Enter Email">
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Contact" class="col-sm-3 control-label">Contact</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="Contact" name="Contact" placeholder="Enter Contact">
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Contact)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="DesignationId" class="col-sm-3 control-label">Designation</label>
                                <div class="col-sm-6">
                                    <select id="DesignationId" name="DesignationId" class="form-control">
                                        <option value="">---Select Designation---</option>
                                        @foreach (var designation in ViewBag.Designations)
                                        {
                                            <option value="@designation.Id">@designation.Designations</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.DesignationId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="DepartmentId" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-6">
                                    <select id="DepartmentId" name="DepartmentId" class="form-control">
                                        <option value="">---Select Department---</option>
                                        @foreach (var dept in ViewBag.Departments)
                                        {
                                            <option value="@dept.Id">@dept.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.DepartmentId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="CreditTobeTaken" class="col-sm-3 control-label">Credit To be Taken</label>
                                <div class="col-sm-6">
                                    <input class="form-control" id="CreditTobeTaken" name="CreditTobeTaken" placeholder="Enter CreditTobeTaken">
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.CreditTobeTaken)
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-info pull-left">Save</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                        </form>
                    </div>                      <!-- /.box-body -->
                        <div class="box-footer">
                            <p>@Html.ActionLink("View Teacher", "Index")</p>
                            @if (ViewBag.Message != null)
                            {
                                <p style="font-size: 20px; color: blue">@ViewBag.Message</p>
                            }
                        </div>
                        <!-- /.box-footer -->
                    <!-- form end -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.js"></script>

    <script>
        $(document).ready(function () {
            $("#saveTeacherForm").validate({
                rules: {
                    Name: "required",
                    Email: {
                        required: true,
                        email: true
                    },
                    Contact: "required",
                    CreditTobeTaken:
                    {
                        required: true,
                        number: true,
                        range: [0, 500]
                    },
                    Address: "required",
                    DesignationId: "required",
                    DepartmentId: "required"

                },
                messages: {
                    Name: "Please enter the  Name",
                    Email: {
                        required: "Please email address is required",
                        email: "Please enter a correct email address"
                    },
                    Contact: "Please enter the  contact",
                    CreditTobeTaken: {
                        required: "Credit is required!",
                        number: "Please enter numeric figure only!",
                        range: "Enter a positive number"
                    },
                    Address: "Address is required!",
                    DesignationId: "Designation is required!",
                    DepartmentId: "Please select department"
                }
            });
        });
    </script>
}

