﻿@model UniversityManagmentSystem.Models.Department
@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Department Setup</h3>
                    </div>
                    <!-- form start -->
                    <form id="departmentSave" class="form-horizontal" method="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="Code" class="col-sm-3 control-label">Code</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Code" name="Code" placeholder="Code">
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Code)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Name" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Name">
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-info pull-left">Save</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <p>@Html.ActionLink("View Department", "Index")</p>
                            @if (ViewBag.message != null)
                            {
                                <p style="font-size: 20px; color: blue">@ViewBag.message</p>
                            }
                        </div>
                        <!-- /.box-footer -->
                    </form>                
                </div>
            </div>
        </div>
    </section>
</div>

@*@section scripts{

}*@
