﻿@using UniversityManagmentSystem.Models
@model IEnumerable<Department>
@{
    ViewBag.Title = "Department Info";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Department Information</h3>
                    </div>
                    <div class="box-body">

                        <table class="table table-bordered hover">
                            <tr>
                                <th style="width: 40px">Serial</th>
                                <th>Code</th>
                                <th>Name</th>
                            </tr>
                        @{
                            var index = 0;
                            foreach (Department department in Model)
                            {
                                index++;
                                <tr>
                                    <td class="text-center">@index</td>
                                    <td>
                                        @department.Code
                                    </td>
                                    <td>
                                        @department.Name
                                    </td>
                                </tr>
                            }
                        }
                        </table>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <p>@Html.ActionLink("Add Department", "DepartmentCreate")</p>
                        @if (ViewBag.message != null)
                        {
                            <p style="font-size: 20px; color: blue">@ViewBag.message</p>
                        }
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@*@section scripts{

    }*@

