﻿@*@using System.Globalization*@
@{
    ViewBag.Title = "Student Registration";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
    <link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/themes/humanity/jquery-ui.css"
          rel="stylesheet" type="text/css" />
}

<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Student Registration </h3>
                    </div>
                    <div class="box-body">
                        <!-- form start -->
                        <form id="saveStudentForm" method="post" class="form-horizontal">

                            <div class=" form-group">
                                <label for="Name" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name">
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Email" name="Email" placeholder="Enter Name">
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Contact" class="col-sm-3 control-label">Contact</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Contact" name="Contact" placeholder="Enter Contact No">
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class=" form-group">
                                <label for="RegDate" class="col-sm-3 control-label">Date</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="RegDate" name="RegDate" value="@DateTime.Now.ToShortDateString()">
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Address" class="col-sm-3 control-label">Address</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Address" name="Address" placeholder="Enter Address">
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class=" form-group">
                                <label for="DepartmentId" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-6">
                                    <select id="DepartmentId" name="DepartmentId" class="form-control">
                                        <option value="">---Select Department---</option>
                                        @foreach (var dept in ViewBag.Departments)
                                        {
                                            <option value="@dept.Id">@dept.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-info pull-left">Register</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </form>
                    </div>                      <!-- /.box-body -->
                    <div class="box-footer">
                        <p>@Html.ActionLink("View Student", "Index", "Student")</p>
                        @if (ViewBag.Message != null)
                        {
                            <p style="font-size: 20px; color: blue"> @ViewBag.Message</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section Scripts {
    <script src="~/TextBoxCalander/jquery-1.7.js" type="text/javascript"></script>
    <script src="~/TextBoxCalander/jquery-ui.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script>
        $(document).ready(function () {
        
            $("#saveStudentForm").validate({
                rules: {
                    Name: "required",
                    Email: {
                        required: true,
                        email: true
                    },
                    Contact: {
                        required: true,
                        number: true,
                        rangelength: [0, 11]
                    },

                    RegDate: "required",
                    Address: "required",
                    DepartmentId: "required"

                },
                messages: {
                    Name: "Please enter the student Name",
                    Email: {
                        required: "Please email address is required",
                        email: "Please enter a correct email address"
                    },
                    Contact: {
                        required: "Please Enter the Student Contact",
                        number: "Contact Must be Numeric",
                        rangelength:"Maximum Length 11"
                    },
                    RegDate: "Select Date",
                    Address: "Address is required!",
                    DepartmentId: "Please select department"
                }
            });
            //$("#RegDate").datepicker({
            //    autoclose: true
            //});
            $(function () {
                $("[id$=RegDate]").datepicker();
            });
        });
    </script>
    
    @*<script src="~/TextBoxCalander/jquery-1.8.2.js" type="text/javascript"></script>*@


}

