﻿@model UniversityManagmentSystem.Models.Course
@{
    ViewBag.Title = "Course Save";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Course Setup</h3>
                    </div>
                    <div class="box-body">
                        <form id="saveCourseForm" method="post" class="form-horizontal">
                            <div class="form-group">
                                <label for="Code" class="col-sm-3 control-label">Code</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Code" name="Code" placeholder="Enter Code">
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Code)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Name" class="col-sm-3 control-label">Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Name">
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Credit" class="col-sm-3 control-label">Credit</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="Credit" name="Credit" placeholder="Enter Credit">
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Credit)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Description" class="col-sm-3 control-label">Description</label>
                                <div class="col-sm-6">
                                    <textarea class="form-control" id="Description" name="Description" placeholder="Write Description"></textarea>
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.Credit)
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="DepartmentId" class="col-sm-3 control-label">Department</label>
                                <div class="col-sm-6">
                                    <select id="DepartmentId" name="DepartmentId" class="form-control">
                                        <option value="">---Select Department---</option>
                                        @foreach (var department in ViewBag.Departments)
                                        {
                                            <option value="@department.Id">@department.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    @Html.ValidationMessageFor(model => model.DepartmentId)
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="SemesterId" class="col-sm-3 control-label">Semester</label>
                                <div class="col-sm-6">
                                    <select id="SemesterId" name="SemesterId" class="form-control">
                                        <option value="">---Select Semester---</option>
                                        @foreach (var semester in ViewBag.Semesters)
                                        {
                                            <option value="@semester.Id">@semester.Name</option>
                                        }
                                    </select>
                                </div>
                        <div class="col-sm-3">
                            @Html.ValidationMessageFor(model => model.SemesterId)
                        </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-info pull-left">Save</button>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer">
                        <p>@Html.ActionLink("View Course", "ShowCourseStatics","CourseView")</p>
                        @if (ViewBag.Message != null)
                        {
                            <p style="font-size: 20px; color: blue">@ViewBag.Message</p>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            $("#saveCourseForm").validate({
                rules: {
                    Code: {
                        required: true,
                        minlength: 5
                    },
                    Name: "required",
                    Description: "required",
                    Credit: {
                        required: true,
                        number: true,
                        range: [0.5, 5.00]
                    },
                    DepartmentId: "required",
                    SemesterId: "required"
                },
                messages: {
                    Code: {
                        required: "Please enter a valid Course Code!",
                        minlength: "Code must be at least 5 charecter! !"
                    },
                    Name: "Please Enter the valid Course Name!",
                    Description: "Write Something About Course!",
                    Credit: {
                        required: "Credit is required!",
                        number: "Please! Enter numeric figure only!",
                        range: "Credit must be beween 0.5 and 5.00"
                    },
                    DepartmentId: "Please select related department!",
                    SemesterId: "Please select related semester!"
                }
            });
        });
    </script>    
}

